:root{
    --moveAmount: -100%;
    --timingFunction: "ease";
    --duration: .5s;
}

.carousel-container {
    overflow: hidden;
    width: max-content;   
}

.carousel-container * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
    display: flex;

}

.carousel-item {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.carousel-item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.slide {
    animation-name: slide;
    animation-duration: var(--duration);
    animation-timing-function: var(--timingFunction);
    z-index: 900;
}

@keyframes slide {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    to {
        transform: translateX(var(--moveAmount));
        -webkit-transform: translateX(var(--moveAmount));
    }
}

.startOffset {
    animation-name: startOffset;
    animation-duration: var(--duration);
    animation-timing-function: var(--timingFunction);
    z-index: 900;
}

@keyframes startOffset {
    from {
        transform: translateX(var(--moveAmount));
        -webkit-transform: translateX(var(--moveAmount));
        
    }
    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

/** BUTTONS **/
.carousel-button-next,
.carousel-button-prev {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001;
}

.carousel-button-prev {
    left: 0;
}

.carousel-button-next {
    right: 0;
}

.carousel-button-next::after,
.carousel-button-prev::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-button-next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}